<a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
    (click)="toggleDropdown($event)" #btnDropdownRef>
    <i class="fa-solid fa-bars" style="margin-right: 10px;"></i>
</a>
<div class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48 border border-blueGray-300 rounded"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'" #popoverDropdownRef>
    <a [routerLink]="['/products']"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
        Produtos
    </a>
    <a [routerLink]="['/about']"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
        Sobre Nós
    </a>
    <a [routerLink]="['/support']"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">
        Suporte
    </a>
</div>