<section class="w-full px-4 py-20">
    <div class="mx-auto max-w-screen-xl px-4 flex flex-col lg:flex-row items-center justify-between bg-white rounded-2xl shadow-2xl shadow-slate-300 overflow-hidden p-10"
        style="text-align: center; border-radius: 20px; margin-bottom: -2%;">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
            <h1 class="text-4xl lg:text-5xl font-bold text-slate-800 mb-6">
                Bem-vindo à nossa loja!
            </h1>
            <p class="text-lg text-slate-600 mb-6">
                Ofertas incríveis em produtos selecionados. Aproveite agora mesmo!
            </p>
            <div class="flex gap-4 justify-center">
                <button class="bg-red-600 text-white px-6 py-3 rounded font-semibold hover:bg-red-700">
                    Ver Produtos
                </button>
            </div>
        </div>
        <div class="w-full lg:w-1/2 flex justify-center">
            <img src="assets/img/main-frame.png" alt="Imagem promocional" class="max-w-full h-auto rounded-2xl" />
        </div>
    </div>
</section>